<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="3.3.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="3.3.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="4.0.0.4000" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="3.2.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="6.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="2.2.3.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="4.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="3.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DeviceMeteringBinding" />
        <binding name="HouseManagementBinding" />
        <binding name="InspectionBinding" />
        <binding name="PaymentsBindingAsync" />
        <binding name="ServicesBinding" />
        <binding name="InspectionBinding1" />
        <binding name="InfrastructureBinding" />
        <binding name="HouseManagementBindingAsync" />
        <binding name="InspectionBindingAsync" />
        <binding name="BillsBindingAsync" />
        <binding name="NsiBinding" />
        <binding name="NsiBindingAsync" />
        <binding name="RegOrgBindingAsync" />
        <binding name="RegOrgBindingAsync1" />
        <binding name="NsiBinding1" />
        <binding name="RegOrgBindingAsync2" />
        <binding name="RegOrgBindingAsync3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dom.gosuslugi.ru/integration/services/DeviceMetering"
        binding="basicHttpBinding" bindingConfiguration="DeviceMeteringBinding"
        contract="DeviceMetering.DeviceMeteringPortTypes" name="DeviceMeteringPort" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/Inspection"
        binding="basicHttpBinding" bindingConfiguration="InspectionBinding"
        contract="Inspection.InspectionPortsType" name="InspectionPort" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/Inspection"
        binding="basicHttpBinding" bindingConfiguration="InspectionBinding1"
        contract="Infrastructure.InspectionPortsType" name="InspectionPort1" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/PaymentsAsync"
        binding="basicHttpBinding" bindingConfiguration="PaymentsBindingAsync"
        contract="PaymentAsync.PaymentPortsTypeAsync" name="PaymentPortAsync" />
      <endpoint address="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/infrastructure-service/"
        binding="basicHttpBinding" bindingConfiguration="InfrastructureBinding"
        contract="Infrastructure.InfrastructurePortsType" name="InfrastructurePort" />
      <endpoint address="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/services-service/"
        binding="basicHttpBinding" bindingConfiguration="ServicesBinding"
        contract="Services.ServicesPortsType" name="defaultPort" />
      <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.5.0.4/house-management-service/"
        binding="basicHttpBinding" bindingConfiguration="HouseManagementBinding"
        contract="HouseManagement.HouseManagementPortsType" name="HouseManagementPort" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/HouseManagementAsync"
        binding="basicHttpBinding" bindingConfiguration="HouseManagementBindingAsync"
        contract="HouseManagementAsync.HouseManagementPortsTypeAsync"
        name="HouseManagementPortAsync" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/Bills"
        binding="basicHttpBinding" bindingConfiguration="BillsBindingAsync"
        contract="BillsAsync.BillsPortsTypeAsync" name="BillsPortAsync" />
      <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/nsi-service/"
        binding="basicHttpBinding" bindingConfiguration="NsiBinding"
        contract="Nsi.NsiPortsType" name="NsiPort" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/RegOrgAsync"
        binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync"
        contract="OrgRegistryAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/RegOrgCommonAsync"
        binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync1"
        contract="OrgRegistryCommonAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort1" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/RegOrgCommonAsync"
        binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync2"
        contract="OrgRegistryCommonAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort2" />
      <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/nsi-service/"
        binding="basicHttpBinding" bindingConfiguration="NsiBinding1"
        contract="NsiCommon.NsiPortsType" name="NsiPort1" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/RegOrgAsync"
        binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync3"
        contract="OrgRegistryCommonAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort3" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/RegOrgAsync"
        binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync2"
        contract="OrgRegistryAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort2" />
      <endpoint address="http://dom.gosuslugi.ru/integration/services/NsiCommonAsync"
        binding="basicHttpBinding" bindingConfiguration="NsiBindingAsync"
        contract="NsiAsync.NsiPortsTypeAsync" name="NsiPortAsync" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
